<head>
	<style>
		body {
			margin: 0;
		}
	</style>
	<script src="//unpkg.com/d3-force-pod/dist/d3-force-pod.js"></script>

	<!-- Force plugins -->
	<script src="//d3js.org/d3.v4.min.js"></script>
	<script src="//unpkg.com/d3-bboxCollide"></script>
	<script src="//unpkg.com/d3-force-attract"></script>
	<script src="//unpkg.com/d3-force-bounce"></script>
	<script src="//unpkg.com/d3-force-cluster"></script>
	<script src="//unpkg.com/d3-force-container"></script>
	<script src="//unpkg.com/d3-force-magnetic"></script>
	<script src="//unpkg.com/d3-force-surface"></script>
</head>

<body>
	<script src="js/main.js"></script>
</body>
