body {
	background: #fcfcfa;
}

.stroke {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
}
#sphere {
	fill: #173dc9b3;
}
.fill {
	fill: #f2f2f2;
}

.graticule {
	fill: none;
	stroke: #777;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
}
.clickable {
	cursor: pointer;
}
.land {
	fill: #313436;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: 0.5px;
}

.tip {
	color: white;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border-radius: 5px;
	background-color: rgba(0, 128, 128, 0.847);
	text-align: center;
}
