body {
	font: 12px sans-serif;
}

svg {
	margin: 0px auto;
	display: block;
}

path.arc {
	opacity: 0.9;
	transition: opacity 0.5s;
}

path.arc:hover {
	opacity: 0.6;
}

.axis line,
.axis circle {
	stroke: #cccccc;
	stroke-width: 1px;
}

.axis circle {
	fill: none;
}

.r.axis text {
	text-anchor: end;
}

.tooltip {
	position: absolute;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	box-shadow: -3px 3px 15px #939393;
	color: white;
	padding: 6px;
}
#radial .button {
	background-color: silver;
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.button:hover {
	background-color: grey;
}
#radial text {
	font-family: 'times new roman';
}
