.node {
	stroke: #fff;
	stroke-width: 1.5px;
}
.link {
	stroke: #999;
	stroke-opacity: 0.6;
}

h3 {
	color: #1abc9c;
	text-align: center;
	font-style: italic;
	font-size: 14px;
	font-family: "Helvetica";
}
