body {
	background-color: whitesmoke;
}

.extent {
	fill-opacity: 0.1;
	fill: rgb(205, 130, 42);
	cursor: move;
}

.e {
	fill: rgb(111, 111, 111);
	cursor: move;
}

.w {
	fill: rgb(169, 169, 169);
	cursor: move;
}

.freeze {
	fill: #a8dfe4;
}

.rain {
	fill: #209cd3;
}

.clear {
	fill: white;
}

.scattered {
	fill: lightgray;
}

.cloudy {
	fill: #a1a1a1;
}

.overcast {
	fill: #616161;
}

svg {
	background-color: white;
	font-family: 'Lato';
}

.axis {
	stroke: white;
	opacity: 0.8;
}

text {
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

text.title {
	font-size: 26px;
}

text.months,
text.temp {
	text-anchor: middle;
	font-size: 12px;
	fill: #39837b;
}

circle.axis {
	stroke: white;
	stroke-width: 1px;
	fill: none;
}

circle.axis.record {
	stroke: #bae0d6;
	stroke-width: 1.2px;
	opacity: 1;
}

line.record,
line.avg,
line.yearLow,
line.yearHigh {
	stroke-width: 2px;
}

line.record {
	stroke: #bae0d6;
}

line.avg {
	stroke: #3fa39e;
	opacity: 0.5;
}

line.year {
	stroke: #006358;
}

line.yearLow,
line.yearHigh {
	stroke: #f97f5a;
}

.avg {
	stroke: #3fa39e;
	fill: #3fa39e;
}

.record {
	stroke: #bae0d6;
	fill: #bae0d6;
	.opacity: 0.5;
}

.year {
	stroke: #f97f5a;
	fill: #f97f5a;
}
.beyond {
	stroke: #445e5b;
	fill: #445e5b;
}
