path {
	stroke: white;
	stroke-width: 0.25px;
	fill: #262626;
}
.countries {
	fill: #262626;
}
.graticule {
	fill: none;
	stroke: #777;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
}
.container {
	margin: 0 auto;
}
.sphere {
	fill: steelblue;
}
