body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 960px;
	height: 500px;
	position: relative;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice {
	stroke-width: 2px;
}

polyline {
	opacity: 0.3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
