.node {
	fill: steelblue;
}

.axis .domain {
	fill: none;
	stroke: #000;
	stroke-opacity: 0.3;
	stroke-width: 10px;
	stroke-linecap: round;
}

.axis .halo {
	fill: none;
	stroke: #ddd;
	stroke-width: 8px;
	stroke-linecap: round;
}

.slider .handle {
	fill: #fff;
	stroke: #000;
	stroke-opacity: 0.5;
	stroke-width: 1.25px;
	cursor: crosshair;
}
