body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.stacked-chart-container {
	position: relative;
}

.stacked-chart-container .controls {
	position: absolute;
	top: 24px;
	left: 18px;
}

.stacked-chart .clickable {
	cursor: pointer;
}

.stacked-chart-container .tooltip {
	position: absolute;
	font-size: 13px;
	white-space: nowrap;
	border: 1px solid black;
	background-color: white;
	pointer-events: none;
	border-radius: 5px;
	display: none;
}

.stacked-chart-container .tooltip-wrapper {
	position: relative;
	padding: 6px;
}

.stacked-chart-container .tooltip-wrapper:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid;
	border-color: black transparent transparent transparent;
}

.stacked-chart-container .tooltip-wrapper:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: -19px;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid;
	border-color: white transparent transparent transparent;
}

.stacked-chart-container .tooltip-table {
	text-align: right;
}

.stacked-chart path,
.stacked-chart line,
.stacked-chart rect {
	shape-rendering: crispEdges;
}

.stacked-chart text {
	font: 10px sans-serif;
}

.stacked-chart .axis path,
.stacked-chart .axis line {
	fill: none;
	stroke: #000;
}

.stacked-chart .series-yes {
	fill: steelblue;
}

.stacked-chart .series-no {
	fill: #ccc;
}

.stacked-chart .series-maybe {
	fill: #cd4638;
}

.stacked-chart .grid-lines {
	fill: none;
	stroke: lightgrey;
}

.stacked-chart .layer rect {
	opacity: 0.8;
	transition: opacity 0.5s ease;
}

.stacked-chart .layer rect.highlighted {
	opacity: 1;
}

.stacked-chart .overlay {
	opacity: 0;
}

.stacked-chart .series-box {
	stroke-width: 2px;
}

.stacked-chart .series-yes .series-box {
	stroke: steelblue;
}

.stacked-chart .series-no .series-box {
	stroke: #ccc;
}

.stacked-chart .series-maybe .series-box {
	stroke: #cd4638;
}

.stacked-chart .disabled .series-box {
	fill-opacity: 0;
}

.stacked-chart .series-label {
	fill: black;
	text-anchor: end;
	alignment-baseline: central;
}
