/* colors based on R: brewer.pal(4, "Set1")
  "#E41A1C"
  "#377EB8"
  "#4DAF4A"
  "#984EA3" */

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

body {
	font-family: sans-serif;

	background-color: #262626;
}
