body {
	margin: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.container {
	display: flex;
	justify-content: space-between;
}
#ctrl {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px dashed #262626;
}

text {
	fill: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.seg-border {
	stroke: black;
	stroke-width: 1px;
}

.seg-inner {
	stroke: grey;
	stroke-width: 1px;
	stroke-dasharray: 5px;
}

.segment:hover {
	opacity: 0.8;
}

input[type='range'],
.label--inline {
	display: inline-block;
}

fieldset {
	border: 0;
	width: 15rem;
	display: block;
	float: left;
}

svg {
	clear: left;
}

.label--inline {
	width: 3rem;
	text-align: center;
}
.segment--line {
	fill: red;
	stroke-width: 1rem;
}
